<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="afterbuy_cart_browser" version="1.0.0">
    <name>AfterbuyCartBrowser</name>
    <description>
        Afterbuy Cart Browser Plugin
    </description>

    <platform name="android">
        <js-module name="AfterbuyCartBrowser" src="www/AfterbuyCartBrowser.js">
            <clobbers target="AfterbuyCartBrowser" />
        </js-module>
        
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AfterbuyCartBrowser">
                <param name="android-package" value="com.idve.afterbuy.cartbrowser.AfterbuyCartBrowser"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/AfterbuyCartBrowser.java" target-dir="src/com/idve/afterbuy/cartbrowser"/>
    </platform>
    
    <platform name="ios">
        <js-module name="AfterbuyCartBrowser" src="www/AfterbuyCartBrowser.js">
            <clobbers target="AfterbuyCartBrowser" />
        </js-module>
      
        <config-file target="config.xml" parent="/*">
            <feature name="AfterbuyCartBrowser">
                <param name="ios-package" value="AfterbuyCartBrowser"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/AfterbuyCartBrowser.h" />
        <source-file src="src/ios/AfterbuyCartBrowser.m" />
    </platform>
</plugin>
